*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;

}
.nevManu{
    max-width: 1350px;
    height: 90px;
    color: #088c8c;
}

.fastHead{
    text-align: center;
    margin: 30px;
    width: 500px;
    float:left;
}
.navLink{
    text-align: center;
    padding: 35px;
    display: flex;
    width: 500px;
    float:right;
}
.navLink a{
    text-decoration: none;
    text-align: center;
    padding-right:30px;
}
.clearDiv{
    clear: both;
    width:100%;
    height:50px 0px;
}
img{
    width: 400px;
    height: 261px;
    border-radius: 15px;
}
.fastPara{
    max-width: 1348px;
}
.fastPara p{
    text-shadow: #ff8c00;
    float:right;
    width: 820px;
    padding-top: 0px;
}
.spanImage{
    width: 500px;
    float: left;
}
.secondPara{
    max-width: 1330px;
    height: 233px;
    padding-left: 35px;
  }
  .secondPara p {
      text-align: justify;
      padding-left: 35px;
  }
  .fastList{
      max-width: 1325px;
      text-align: initial;
      padding-left: 125px;
  }